
$panel-default-border: none;
$panel-bg: none;

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
    background-image: url("/img/surveybackground.jpg");
    background-size: 100%;
}

.top-row {
    margin-top: 10vh;
}
